<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="SPAWN_EVERY" value="10"/>
    <add key="SPAWN_PER_PLAYER" value="5"/>
    <add key="ROBOT_HP" value="50"/>
    <add key="ATTACK_RANGE" value="1"/>
  </appSettings>
</configuration>
